<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokemon</title>
</head>
<body>
  <h1>Pokebox as of <%= time %></h1>
  <ul>
    <% pokemon.forEach((mon) => { %>
      <li>
				<%= mon.name %> 
				- 
				<%= mon.starter ? 'is starter' : 'not starter' %>
        <form action="/pokemon/<%= pokemon._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
        </form>
			</li>
    <% }) %>
  </ul>
  <p>first</p>
  <a href="pokemon/new">Add to Poke-Box</a>
</body>
</html>