<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>New Pokemon</h1>
  <form action="/pokemon" method="POST" autocomplete="off">
    <label for="name-input">Pokemon Name: </label>
    <input type="text" name="name" id="name-input">
    <label for="type-input">Pokemon Type: </label>
    <input type="text" name="type" id="type-input">
    <label for="is-starter-checkbox">Starter?</label>
    <input type="checkbox" name="starter" id="is-starter-checkbox">
    <button type="submit">Add Pokemon</button>
  </form>
</body>
</html>